.note {
  padding: 1rem;
  width: 70%;
  margin: 20px auto;
  border: 1px solid #726dfe;
  position: relative;
  white-space: pre-wrap;
}

.note-edit {
  color:#726dfe;
  position: absolute;
  right: -25px;
  top: 4px;
  cursor: pointer;
}

.note-delete {
  color:#726dfe;
  position: absolute;
  right: -25px;
  top: 30px;
  cursor: pointer;
}