.navbar{
	background-color: rgb(52, 65, 106);
	height: 4em;
	
}

.extnav {
	background-color: rgb(194, 196, 203);
	height: 4em;
	margin: 10px;
	border-radius: 5px;
	justify-content: center;
	text-align: center;
	align-content: center;
	
}