.extnav {
	background-color: rgb(194, 196, 203);
	height: 4em;
	margin: 10px;
	border-radius: 5px;
	justify-content: center;
	text-align: center;
	align-content: center;
	
}
/* .Avtar{
position: center;
margin-left: ;
margin-top: 10px!important;

} */
/* .Box{
	margin-bottom:0px!important;
	justify-content: center;
	margin-right: 0px;
} */