.extranav{
	background-color: rgb(194, 196, 203);
	height: 4em;
	margin: 10px;
	border-radius: 10px;
	justify-content: center;
	text-align: center;
	align-content: center;
	
}
.Avtar{
position: center;
margin-left: 60px;
margin-top: 10px!important;

}