.Main{
    height: 40px;
    width: 50;
    margin-top:10px!important;

}

.Avtar{
    margin-left: 100px;
    margin-top: 10px;
}
.Main-Body{
    height: 80px;
}
.kt{
    height: 4px!important;
    width: 4px!important;
}