*{
  background-color: #262b34;
}

body {
  margin: 0px;
  height: 100%;
}

.App {
  text-align: center;
}




.App-header {
  background-color: #262b34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}






.card{
  align-items: center;
  background-color: #333944;
 


}

.inbox{
  margin-right: 20px;
}

.outbox{
  margin-left: 20px;
}

.pills{
  background-color: #333944;
}