.navbar{
	background-color: rgb(37, 136, 172)!important;
	height: 4em;
    justify-content: right;
	
}
.outbox{
    margin-left: 639px;
    margin-top:-23px

}

.inbox{
    margin-left: 399px;
    margin-top:-11.5px
}
.head{
    margin-left: 10px;
    margin-top: -60px!important;
}

 .broadcast{
    margin-left: 499px;
    margin-top:-20px
 }
