.navbar{
	background-color: rgb(35, 66, 113)!important;
	height: 4em;
  justify-content: right;
	
}
.broadcast{
    margin-left: 639px;
    margin-top:-23px

}

.dashboard{
    margin-left: 399px;
    margin-top:-11.5px
}
.head{
    margin-left: 10px;
    margin-top: -60px!important;
}

 .chats{
    margin-left: 499px;
    margin-top:-20px;
 }
