.operator{
  height: 30px;
}  

#demo-simple-select-helper-label{
margin-top: -11px;
}

.extnav {
	background-color: rgb(194, 196, 203);
	height: 4em;
	margin: 10px;
	border-radius: 5px;
	justify-content: center;
	text-align: center;
	align-content: center;
	
}

.navbar{
	background-color: rgb(35, 66, 113);
	height: 4em;
  justify-content: right;
	
}
.broadcast{
    margin-left: 639px;
    margin-top:-23px

}

.dashboard{
    margin-left: 550px;
    margin-top: 13px;
    height: 40px;
}
.head{
    margin-left: 10px;
    margin-top: -60px!important;
}

 .chats{
    margin-left: 499px;
    margin-top:-20px;
 }
 .button{
  background-color:green;
  border: none;
  color: rgb(248, 39, 39);
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 }

